$snotify-width: 600px !default;
@import '~vue-snotify/styles/dark.scss'; //dark or material.css or simple.css
body {
    overflow-y: scroll;
}

.snotify {
    .snotifyToast__title {
        font-size: 1.2rem;
    }
    .snotifyToast__body {
        font-size: .9rem;
    }
}

.object-align-left,
.object-align-right,
.object-align-top,
.object-align-bottom {
    background-image: url('align.svg');
    width: 16px;
    height: 16px;
    display: block;
    margin: 2px 0;
    filter: invert(100%);
}

.object-align-top {
    transform: rotate(90deg);
}

.object-align-bottom {
    transform: rotate(-90deg);
}

.object-align-right {
    transform: rotate(180deg);
}

.btn-spinner {
    .icon {
        display: none;
        margin: 0 10px;
    }
}

pre[class*="language-"] {
    background: #fff !important;
    border: 1px solid #ccc;
}



#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 0px;
    margin-left: 0px;
    width: calc(100% - 0px);
}

.navbar-brand>span {
    margin: 3px 0 0 5px;
    display: block;
    float: right;
}


/* The side navigation menu */

.sidenav {
    height: 100vh;
    /* 100% Full-height */
    width: 48px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a svg {
    margin-right: 4px;
}

.sidenav a {
    text-align: left;
    font-family: Verdana;
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

main {
    margin-top: 44px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

ul.nav-tabs {
    display: flex;
    background: #fafafa;
    li.default {
        order: -1;
        /* the default is 0 */
    }
    .tab-order-0,
    .tab-order-1,
    .tab-order-2,
    .tab-order-3,
    .tab-order-5,
    .tab-order-5,
    .tab-order-6,
    .tab-order-7,
    .tab-order-8,
    .tab-order-9 {
        a {
            padding: 2px 15px;
            font-size: .9em;
        }
    }
    .tab-order-0 {
        order: 0
    }
    .tab-order-1 {
        order: 1
    }
    .tab-order-2 {
        order: 2
    }
    .tab-order-3 {
        order: 3
    }
    .tab-order-4 {
        order: 4
    }
    .tab-order-5 {
        order: 5
    }
    .tab-order-6 {
        order: 6
    }
    .tab-order-7 {
        order: 7
    }
    .tab-order-8 {
        order: 8
    }
    .tab-order-9 {
        order: 9
    }
}

.smalltab>a {
    padding: 2px 15px;
    font-size: .9em;
}

.w-0 {
    width: 0 !important;
}

h2.title {
    font-size: 1.4em;
}
.modal-backdrop {
    z-index: 100000 !important;
  }

  .modal {
    z-index: 100001 !important;
  }
.lemonade-job {
    &.completed,
    &.running,
    &.canceled,
    &.interrupted,
    &.waiting,
    &.error {
        color: white;
        font-size: .7em;
        padding: 4px;
    }

    &.completed {
        background-color: #2ECC40;
    }

    &.running {
        background-color: #0074D9;
    }

    &.interrupted {
        background-color: #111;
    }

    &.canceled {
        background-color: #aaa;
    }

    &.waiting {
        background-color: #FFDC00;
        color: black;
    }

    &.error {
        background-color: #FF4136;
    }
}
.with-grid {
    background-image: url(grid1.png);
}
.VueTables__table, .small-table {
    td, th {
        padding: 8px 5px;
        font-size: .9em;
    }
}
.VuePagination__count {
    font-size: .8em;
}
.modal-dialog {
    margin: 8vh auto 0px auto;
}