$snotify-width: 600px !default;
@import '~vue-snotify/styles/dark.scss'; //dark or material.css or simple.css
body {
    overflow-y: scroll;
}

.snotify {
    .snotifyToast__title {
        font-size: 1.2rem;
    }
    .snotifyToast__body {
        font-size: .9rem;
    }
}

.object-align-left,
.object-align-right,
.object-align-top,
.object-align-bottom {
    background-image: url('align.svg');
    width: 16px;
    height: 16px;
    display: block;
    margin: 2px 0;
    filter: invert(100%);
}

.object-align-top {
    transform: rotate(90deg);
}

.object-align-bottom {
    transform: rotate(-90deg);
}

.object-align-right {
    transform: rotate(180deg);
}

.btn-spinner {
    .icon {
        display: none;
        margin: 0 10px;
    }
}